@import '../../styles/variables.sass'

.ingredient-list-div
  @include card-default
  overflow: hidden
  flex-shrink: 1

.ingredient-div
  display: flex
  justify-content: space-evenly
  align-content: flex-start
  flex-wrap: wrap
  max-height: 30em
  overflow-y: scroll

.material-img
  width: 48px

  @include breakpoint-small
    width: 64px

  @include breakpoint-large
    width: 72px

.material-button
  width: 70px
  height: 70px

  @include breakpoint-small
    width: 80px
    height: 80px

  @include breakpoint-large
    width: 90px
    height: 90px

  position: relative
  border: 1px solid $background-color-light
  background-color: $background-color-dark
  color: $text-color
  font-size: 14px
  padding: 2px
  margin: 2px
  opacity: 0.9
  transition-duration: 300ms

  &:hover
    background-color: $background-color-light
    opacity: 1

.effect-icon
  width: 18px
  position: absolute
  top: 45px
  right: 7px

  @include breakpoint-large
    top: 60px
    right: 10px

.material-name
  display: block
  width: 100%
  box-sizing: border-box
  padding: 0
  margin: 0

.my-tooltip
  z-index: 99 !important

  span
    padding: 5px
    text-align: left
    z-index: 99 !important
  
.tooltip-title
  font-family: $title-font
  font-size: 1rem
  z-index: 99 !important

.tooltip-note-text
  opacity: 0.5
  font-style: italic