@import url('https://fonts.googleapis.com/css2?family=Mirza:wght@400;700&family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap')
@import './variables.sass'

html, body, #root
  height: 100%
  display: flex
  flex-direction: column
  
  > *
    flex: 0 0 auto

body
  margin: 0
  background-color: $background-color-dark
  font-family: $body-font, 'sans-serif'
  color: $text-color
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

main
  max-width: 800px
  margin: 0 auto

  .input-output-div
    flex-grow: 1
    position: sticky
    top: 0

  .ingredient-list-div
    flex-grow: 2

h1
  font-size: 2rem
  letter-spacing: -6%
  color: $primary-color
  font-family: $title-font

h2
  font-size: 1.5rem
  color: $secondary-color
  font-family: $title-font
  margin: 5px 10px
  text-align: left

div
  font-family: 'Open Sans', 'sans-serif'
  font-size: 14

.card-header
  margin-top: 0
  paddint-top: 0
  width: 100%
  border-bottom: 1px solid $background-color-light
  height: 10%

.input-output-div
  margin: 20px 0
  display: flex
  flex-wrap: wrap
  justify-content: center
  align-items: stretch
  gap: 10px 20px
  position: sticky
  top: 0
  height: 20rem

@include breakpoint-small
  h1
    font-size: 2.5rem
  
  h2
    font-size: 1.5rem

@include breakpoint-large
  h1
    font-size: 3rem
  
  h2
    font-size: 2rem