$primary-color: #48d59d
$secondary-color: #88c5e8
$background-color-dark: #2f2a2f
$background-color-light: #4e484e
$text-color: #ece0e2
$warning-color: #f45b69

$title-font: 'Hylia-Sans'
$body-font: 'Open-Sans'

@mixin card-default
  border: 1px solid $background-color-light
  border-radius: 3px

  h2
    width: 100%
    background-color: background-color-light
    text-align: left